/*navigationbar*/
.logout{
  float: right;
}
/*sidebar */
.navbar{
  margin-bottom: 0px !important;
}
.sidebar{
  padding: 0px !important;
}
.navbar-nav li{
  float:none !important;
}
.sidebar .navbar{
  height: auto;
}
/*dashboard*/
#dashboard{
  font-size: 25px;
  padding-bottom:10px;
}
#loading{
  display: none;
}
#loading img{
margin: 0 auto;
display: block;
}
.show{
  display: block !important;
  position: absolute;
  margin: 0 auto;
  width: 100%;
  display: block;
  left: 0;
  right: 0;
}
/*setup */
#setupBackground{
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.8);
}
#setup{
  position: absolute;
  top: 40%;
  background-color: beige;
  text-align: center;
  padding: 0px 10px 10px 10px;
  left: 20%;
    right: 20%;
}
/*manager*/
.week{
  float: left;
  text-align: center;
  width: 50px;
  border: 1px solid black;
  padding: 20px;
}
#calander li{
  float: left;
  width: 13vw;
  height: 13vw;
  list-style-type: none;
  background-color:
}
#calander li:hover{
  background-color: #02bfd4;
}
.navbar-nav .selected{
  color: white !important;
}
.grey,.last-month{
  background-color: grey;
}
.day_worked{
  background-color: #039BE5;
}
#setHoursVenster{
  display: none;
  margin: 0 auto;
  position: absolute;
  height: 300px;
  background-color: wheat;
  margin: 0 auto;
  top: 0;
  right: 0;
  left: 0;
}
#closeVenster{
  cursor: pointer;
  float:right;
}
#topHourVenster{
  margin-top: 5px;
  margin-bottom: 5px;
}
#sethoursform{
  position: absolute;
}
@media(max-width:767px){}
@media(min-width:768px){
  #calander{
    margin: 0 auto;
    width: 490px;
  }
  #calander li{
    width: 70px;
    height: 70px;
  }
}
@media(min-width:992px){
  .sidebar .navbar{
    height: calc(100vh - 52px);
  }
}
@media(min-width:1200px){}
